<<<<<<< HEAD

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.container{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

.row{
    text-align: center;
padding: 3px;
}
.button{
    height: 60px;
    width: 60px;
   margin-right: 5px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    padding: 3px;
    font-size: 20px;
    color: rgb(16, 141, 236);
    background: transparent;
    background-color: black;
    box-shadow: 0 3px .2,rgb(43, 30, 30, .4);
}
.operator{
    background-color: green;
}
.result{
    background-color: coral;
}
.input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}
#content{
    text-align: right;
}

=======

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.container{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

.row{
    text-align: center;
padding: 3px;
}
.button{
    height: 60px;
    width: 60px;
   margin-right: 5px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    padding: 3px;
    font-size: 20px;
    color: rgb(16, 141, 236);
    background: transparent;
    background-color: black;
    box-shadow: 0 3px .2,rgb(43, 30, 30, .4);
}
.operator{
    background-color: green;
}
.result{
    background-color: coral;
}
.input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}
#content{
    text-align: right;
}

>>>>>>> 6913def944eb06d6aab968e94a8427201846463f
